<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FILES_LOCATION" value="/opt/data/logs/user-service.log"/>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILES_LOCATION}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/opt/data/logs/archived/user-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, 
				it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="ROLLING-FILE"/>
    </logger>

    <logger name="com.uniktech" level="debug" additivity="false">
        <appender-ref ref="ROLLING-FILE"/>
    </logger>

    <root level="error">
        <appender-ref ref="ROLLING-FILE"/>
    </root>

</configuration>